@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

header {
    width: 100vw;
    top: 0;
}

.box-image {
    width: 100%;
    height: 25rem;
    background-image: url("./../media/atardecer-en-un-lago_1920x1200_xtrafondos.com.jpg");
    background-position: center;
    background-size: cover;
}

nav {
    width: 100%;
    height: 4em;
    padding: 10px;
    background: linear-gradient(360deg,rgba(42, 146, 202, 0.964),rgb(7, 123, 161));
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 30px;
    font-weight: 800;
    color: aliceblue;
    cursor: pointer;
    list-style: none;
}

a {
    color:aliceblue;
}

a:hover {
    transition: 0.7s all;
    color: rgb(255, 68, 0);
    
}

body {
    background-image: url(./../media/atardecer-en-un-lago_1920x1200_xtrafondos.com.jpg);
    background-position: center;
    background-size: cover;
}

main {
    background:linear-gradient(360deg,rgba(184, 106, 5, 0.39),rgb(4, 91, 153));
    background-repeat: repeat-y;
    width: 100vw;
    padding: 5%;
    top:5em;
}

.container {
    width: 70vw;
    background-color: rgba(240, 248, 255, 0.894);
    border-radius: 20px;
    padding: 5%;
    margin: 0 auto;
    display: grid;
    grid-column: 1fr;
    grid-row: 1fr 1.4fr 2fr;
    grid-template-areas: "title" "intro" "tables" ;
}

.title {
    grid-area: title;
    width: 100%;
    text-align: center;
    color: rgb(0, 0, 0);
    text-shadow: 3px 3px 2px rgb(0, 102, 255);
    font-size: 50px;
    font-weight: 800;
}

.article {
    width: 100%;
    height: 50%;
}

.box-intro {
    grid-area: intro;
}

.box-ofers {
    grid-area: tables;
    overflow-x: auto;
    /* overflow-x: auto; */
}

.part1, .part2 {
    width: 100%;
    margin: 2%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

p {
    width: 100%;
    margin: 1%;
    font-size: 18px;
    font-weight: 700;
}


img {
    width:250px;
    height:200px;
    border: 3px inset dodgerblue;
    box-shadow: 0px 0px 30px rgb(0, 191, 255);
}

/* body {
    margin: 0 auto;
}

h1 {
    text-align: center;
    color: rgb(255, 30, 30);
}
*/

.product-table {
    font-size: 15pt;
    border: 1px solid rgba(181, 213, 144, 0.5);
    border-collapse: collapse;
    color: white;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    min-width: 900px;
}

.product-table th {
    background-color: rgb(5, 5, 62);
    text-align: center;
    font-weight: normal;
}

.product-table th:first-child {
    width: 50px;
    height: 25px;
} 

.product-table tr:hover {
    background-color: rgba(63, 63, 57, 0.347);
}

.product-table tr:hover td:first-of-type {
    background-color: rgb(12, 32, 134);
}

.product-table td {
    text-align: right;
    width: 200px;
}

.product-table td:first-of-type {
    text-align: center;
}

.product-table td:first-child {
    position: absolute;
    background-color: rgb(16, 16, 71);
    width: 200px;
    height: 50px;
}
.product-table tr:nth-child(1){
    font-size: 30px;
    color: black;
}

.product-table th:first-of-type {
    width: 200px;
    height: 50px;
    position: absolute;
}

/* @media screen and (max-width:1000px){
    h1 {
        width: 50%;
    }

    article {
        width: 60%;
    }

} */
