@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

.container {
    width: 100vw;
    height: 100vh;
    padding: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-image: url("https://images.unsplash.com/photo-1673407456341-8bddce1157eb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80");
    object-fit: cover;
    background-size: cover;
    background-position: center;
}

.headContainer {
    width: 100vw;
    height: 10vh;
    text-align: center;
    text-transform: uppercase;
    background-color: rgba(212, 212, 212, 0.712);
    animation: heart 3s infinite alternate;
    transition: 0.5s all;
}

@keyframes heart {
    from {
        transform: scale(.7);
        width: 30vw;
        border-radius: 0px;
        color: black;
        background-color: rgba(212, 212, 212, 0.712);
        font-weight: 100;
        font-size: 15px;
        transition-delay: 0.5s;
    }
    to {
        transform: scale(1);
        width: 100vw;
        border-radius: 20px;
        color: white;
        background-color: rgb(53, 53, 53);
        font-weight: 600;
        font-size: 25px;
        transition-delay: 0.5s;
    }
}

.table {
    text-align: center;
    padding: 1%;
}

.table .headTable h2 {
    width: 15vw;
    padding: 1%;
    font-size: 15px;
    border-radius: 20px ;
    background: linear-gradient(180deg, rgb(236, 236, 236), rgb(198, 12, 255));
}

.table .headTable ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.table .headTable img {
    width: 60px;
    height: 60px;
}

.bodyTable input{
    width: 80px;
    height: 80px;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    border-radius: 30px;
    border: 2px solid black;
}

.footTable .sent {
    width: 25vw;
    height: 5vh;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 20px;
    opacity: 80%;
    background-color: blue;
}

.footContainer {
    background: linear-gradient(360deg, white, rgb(65, 65, 65));
    width: 40vw;
    height: 10vh;
    padding: 1%;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    opacity: 70%;
    animation: change 5s infinite alternate;
    transition: all 0.4s;
    animation-delay: 3s;
}

@keyframes change {
    0% {
        color: black;
    }
    25% {
        color: yellow;
    }
    50% {
        color: orangered;
    }
    75% {
        color: red;
    }
    100% {
        color: greenyellow;
    }
}