body{perspective: 1000px;height:90vh;}

div{box-sizing: border-box}

.cubo{
  position:absolute;
  width :20vw;
  height:25vw;
  transform-style: preserve-3d;
  transform-origin: 50% 50%;
  top:50%; left:50%;
  margin-top: -10vw;
  margin-left: -10vw;
  animation: rotar3d 5s linear infinite;
  line-height: 20vw;
  font-size: 10vw;
}
.cara {
  position: absolute;
  width: 40vw;
  height: 50vw;
  color: rgba(0,0,0,.15);
  text-align:center;
  border:5px solid rgba(0, 0, 0, 0.25);
  box-shadow: 10px 10px 5px black;
  transform-origin: 50% 50%;
}

.cara_frente   {
  transform: translate3d(0,0, 10vw)   rotate3d(0,0,0,0deg); 
}

.cara_detras {
  transform: translate3d(0,0,-10vw)   rotate3d(0,0,0,0deg);
}

.cara_izquierda{
  transform: translate3d(-10vw,0,0)   rotate3d(0,1,0,90deg);
}

.cara_derecha  {
  transform: translate3d(10vw,0,0)   rotate3d(0,1,0,90deg);
}

.cara_abajo    {
  transform: translate3d(0, 10vw,0)   rotate3d(1,0,0,90deg);
}

.cara_arriba   {
  transform: translate3d(0, -10vw,0)   rotate3d(1,0,0,90deg); 
}

@keyframes rotar3d{
  from{transform: rotate3d(0,0,0,0)}
  to  {transform: rotate3d(0,1,0,360deg)}
}