@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;0,700;0,800;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    text-decoration: none;
    color: black;
}

header {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.photoPerfil {
    width: 60px;
}

nav {
    width: 30%;
}

nav ul {
    display: flex;
    justify-content: right;
    align-items: center;
    list-style: none;
}

nav ul li {
    margin: 5%;
}


main {
    width:100vw;
    height: 90vh;
    overflow: hidden;
}

section {
    width: 100%;
    height: 50%;
}

.box-hardware {
    background-image: url(../media/la-iliada-el-nacimiento-de-la-tierra_2560x1600_xtrafondos.com.jpg);
    background-position: center;
    background-size: cover;
}

.box-software {
    background-image: url(../media/la-iliada-el-nacimiento-de-la-tierra_2560x1600_xtrafondos.com.jpg);
    background-position: center;
    background-size: cover;
}

.image-filterHard {
    background:linear-gradient(180deg,rgba(222, 172, 21, 0.536),rgba(233, 25, 25, 0.655),rgba(233, 116, 43, 0.616));
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-filterHard:hover {
    background:linear-gradient(rgba(222, 85, 21, 0.536),rgba(233, 126, 25, 0.724),rgba(229, 171, 22, 0.725));
}

.image-filterSoft {
    background: linear-gradient(180deg,rgba(115, 7, 115, 0.577),rgba(170, 25, 183, 0.71),rgba(135, 8, 135, 0.711));
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-filterSoft:hover {
    background: linear-gradient(rgba(73, 0, 128, 0.642),rgba(69, 22, 255, 0.637),rgba(12, 131, 199, 0.763));
}

a:hover {
    color: red;
    transition: all 0.2s;
}

p {
    text-align: center;
    padding: 8%;
    font-size: 20px;
    color: white;
    font-weight: 800;
    text-shadow: 0px 0px 2px white;
}

button {
    width: 220px;
    height: 60px;
    border: none;
    border-radius: 15px;
    font-size: 22px;
    color: white;
    font-weight: 800;
}

.buttonHard {
    background:linear-gradient(rgba(174, 5, 5, 0.928),rgba(227, 44, 12, 0.968),rgb(215, 122, 9));
    box-shadow: 
        0px 0px 7px rgba(227, 44, 12, 0.968),
        0px 0px 8px rgb(215, 122, 9);
    font-weight: 800;
    cursor: pointer;
}

.buttonHard:hover {
    color: black;
    background:linear-gradient(rgba(206, 76, 6, 0.928),rgba(227, 191, 12, 0.888),rgb(215, 40, 9));
    box-shadow: 
    0px 0px 7px rgba(227, 51, 12, 0.968),
    0px 0px 8px rgb(215, 184, 9),
    0px 0px 12px rgba(227, 51, 12, 0.968),
    0px 0px 24px rgb(215, 184, 9);
    transition: all 1s;
    transform:scale(1.1);
}

.buttonSoft {
    background: linear-gradient(180deg,rgba(58, 0, 128, 0.577),rgba(95, 56, 224, 0.577),rgba(128, 0, 128, 0.763));
    box-shadow: 
    0px 0px 7px rgb(45, 4, 155),
    0px 0px 8px rgb(106, 131, 230);
    font-weight: 800;
    cursor: pointer;
}

.buttonSoft:hover {
    color: black;
    background: linear-gradient(180deg,rgba(10, 3, 143, 0.577),rgba(56, 179, 224, 0.577),rgba(28, 33, 121, 0.479));
    box-shadow: 
    0px 0px 7px rgb(45, 4, 155),
    0px 0px 8px rgb(106, 131, 230),
    0px 0px 12px rgb(153, 0, 255),
    0px 0px 24px rgba(0, 174, 255, 0.839);
    transition: all 1s;
    transform: scale(1.1);
}

 @media screen and (min-width:1000px){
    * {
        /* overflow: hidden; */
        font-size: 20px;
    }

    main {
        display: flex;
        align-items: center;
        width: 100vw;
        height: 90vh;
    }

    header {
        width: 100vw;
        height: 10vh;
        justify-content: center;
        font-size: 20px;
    }

    section {
        height: 100%;
    }

    div {
        width: 100%;
        height: 100%;
    }

    p {
        padding: 10%;
        font-size: 30px;
    }

    button {
        width: 250px;
    }
}
