@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;0,700;0,800;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

header {
    width: 100vw;
    height: 5;
    display: flex;
    justify-content: start;
    align-items: center;
}

.photoPerfil {
    width: 60px;
}

nav {
    margin-left: 50%;
    width: 30%;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    width:100vw;
    height: 50vh;
}

aside {
    width: 100%;
    height: 100%;
}

.box-text {
    background-image: url(../media/hardware.jpeg);
    background-position: center;
    background-size: contain;
}

.box-software {
    background-image: url(../media/software.jpg);
    background-position: center;
    background-size: cover;
}

.image-filterHard {
    background:linear-gradient(180deg,rgba(222, 172, 21, 0.536),rgba(252, 44, 44, 0.399),rgba(233, 116, 43, 0.616));
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-filterSoft {
    background: linear-gradient(180deg,rgba(128, 0, 128, 0.577),rgba(236, 22, 255, 0.577),rgba(128, 0, 128, 0.658));
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    text-align: center;
    padding: 10%;
    font-size: 20px;
    color: white;
    font-weight: 800;
    text-shadow: 1px 1px white;
}

button {
    width: 190px;
    height: 60px;
    border: none;
    border-radius: 15px;
    font-size: 18px;
}


/* @media screen and (min-width:1000px){
    nav {
        width: 50%;
    }
    
    main {
        flex-direction: row;
    }

    div {
        width: 50%;
        height: 100vh;
    }
} */
